<div class="action-buttons">
    <button mat-flat-button color="primary" (click)="openDialog(true)">Add Word Pair</button>
    <button mat-flat-button color="primary" (click)="loadTestData()">Test Data</button>
    <button mat-flat-button color="primary" (click)="resetData()">Reset Data</button>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1">

    <ng-container matColumnDef="german">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortByGerman()"> German </th>
        <td mat-cell *matCellDef="let row"> {{row.german}} </td>
    </ng-container>

    <ng-container matColumnDef="english">
        <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortByEnglish()"> English </th>
        <td mat-cell *matCellDef="let row"> {{row.english}} </td>
    </ng-container>

    <ng-container matColumnDef="amountOfRightAnswers">
        <th mat-header-cell *matHeaderCellDef> Right </th>
        <td mat-cell *matCellDef="let row"> {{row.amountOfRightAnswers}} </td>
    </ng-container>

    <ng-container matColumnDef="amountOfWrongAnswers">
        <th mat-header-cell *matHeaderCellDef> Wrong </th>
        <td mat-cell *matCellDef="let row"> {{row.amountOfWrongAnswers}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="openDialog(false, row)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteRow(row)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>