<div class="header">
  <button mat-raised-button routerLink="/creation" routerLinkActive="active" ariaCurrentWhenActive="page" [disabled]="isTestingMode"
      color="primary">Creation</button>
  <button mat-raised-button routerLink="/learning" routerLinkActive="active" ariaCurrentWhenActive="page" [disabled]="isTestingMode"
      color="primary">Learning</button>
  <button mat-raised-button routerLink="/testing" routerLinkActive="active" ariaCurrentWhenActive="page"
      color="primary">Testing</button>
</div>
<div class="centered-content">
  <div class="content">
      <router-outlet></router-outlet>
  </div>
</div>